<a href="https://colab.research.google.com/github/manjitullal/unsupervised/blob/main/ContentBased_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Content Based

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install unrar

In [ ]:
path = '/content/drive/MyDrive/datasets/movies/movie_data_merge.rar'

In [ ]:
!unrar x $path

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_pickle('/content/movie_data_merge')
data.head()

       adult  ...     score
314    False  ...  8.445870
837    False  ...  8.425439
10345  False  ...  8.421458
12525  False  ...  8.265477
2854   False  ...  8.256385

[5 rows x 22 columns]

In [ ]:
# select random 10000 indices 

random_indices = np.random.choice(data.shape[0], size=10000, replace=False)
small_data = data.loc[random_indices]
small_data.reset_index(drop=True, inplace=True)
small_data.shape

(10000, 22)

In [ ]:
small_data.head()

   adult    budget  ...                                               crew     score
0  False         0  ...  [{'credit_id': '52fe4541c3a368484e04fc75', 'de...  5.790430
1  False   2700000  ...  [{'credit_id': '55b9364292514123dd0029ae', 'de...  5.980422
2  False         0  ...  [{'credit_id': '52fe44a3c3a368484e02e733', 'de...  5.579735
3  False         0  ...  [{'credit_id': '52fe4639c3a36847f80f33f3', 'de...  5.660104
4  False  16800000  ...  [{'credit_id': '564c55309251417c46005e72', 'de...  5.675181

[5 rows x 22 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfv = TfidfVectorizer(min_df=3,  max_features=None, 
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            stop_words = 'english')

small_data['overview'] = small_data['overview'].fillna('')

In [ ]:
tfv_matrix = tfv.fit_transform(small_data['overview'])
tfv_matrix.shape

(10000, 12481)

In [ ]:
from sklearn import preprocessing

similarity_matrix = np.dot(preprocessing.normalize(tfv_matrix, axis=1), preprocessing.normalize(tfv_matrix, axis=1).T)
similarity_matrix = similarity_matrix.toarray()

In [ ]:
indices = pd.Series(small_data.index, index=small_data['original_title']).drop_duplicates()

In [ ]:
small_data.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'title', 'vote_average', 'vote_count',
       'cast', 'crew', 'score'],
      dtype='object')

In [ ]:
small_data[['adult','budget','genres','original_title','revenue','vote_count','score']].loc[20:,].head()

    adult   budget  ... vote_count     score
20  False  6500000  ...       43.0  5.741464
21  False        0  ...        2.0  5.599489
22  False  1000000  ...        7.0  5.525252
23  False        0  ...        3.0  5.625259
24  False        0  ...        4.0  5.634861

[5 rows x 7 columns]

In [ ]:
import pprint

movie_overview = small_data[small_data.original_title == 'The Irish Pub'].overview.tolist()
pprint.pprint(movie_overview, depth=1)

['The tradition of the Irish pub. Speaking to pub owners all over Ireland, '
 'Alex Fegan gets into the heart of what makes "the Irish pub" the institution '
 'that it is.']

In [ ]:
def recommendation(title, similarity_matrix):
    idx = indices[title]
    sig_scores = list(enumerate(similarity_matrix[idx]))
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)
    sig_scores = sig_scores[1:11]
    movie_indices = [i[0] for i in sig_scores]
    return small_data[['adult','budget','genres','original_title','revenue','vote_count','score']].iloc[movie_indices]

In [ ]:
recommendation('The Irish Pub', similarity_matrix)

      adult    budget  ... vote_count     score
7007  False         0  ...        6.0  5.548898
944   False         0  ...       14.0  5.608719
9432  False         0  ...        2.0  5.598254
1060  False         0  ...       18.0  5.666950
2529  False  28000000  ...       98.0  6.067121
613   False         0  ...       10.0  5.611277
3085  False    580000  ...       11.0  5.700685
4638  False         0  ...        6.0  5.599501
7414  False         0  ...        2.0  5.653810
6430  False         0  ...        1.0  5.614392

[10 rows x 7 columns]